
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;

	img {
		width: 100%;
		height: auto;
	}
}

.post-content {
	position: relative;
	padding: 1rem 0;
}

.entry-meta {
	a {
		font-weight: 500;
		color: #7f7f7f;
	}
}
