
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.about-thumbnail {
	position: absolute;
    bottom: 0;
    min-width: 120%;
    left: -3rem;
}

.history-image {
	position: relative;

	@include media-breakpoint-up(lg) {
		position: relative;
		left: -25rem;
		bottom: -10rem;
	}

	&.right {
		@include media-breakpoint-up(lg) {
			position: relative;
			right: 12rem;
			bottom: -10rem;
			left: auto;
		}
	}
}

.event {
	@include media-breakpoint-up(lg) {
		margin-bottom: 10rem;
	}
}