
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515 !important;
}

#footer-main {
	padding-top: 4.375rem;
	padding-bottom: 2rem;
}

#footer-bottom {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}
