
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Required field
.required-field {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 1.375rem;
        top: 0;
        display: block;
        width: 0.5rem;
        height: 0.6875rem;
        background-image: url(../images/clip-icon.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.subscribe {
    position: relative;
    padding: 7rem 4rem;
    z-index: 1;

    .subscribe-thumbnail {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;

        img {
            max-width: 100%;
        }
    }
}