
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	margin-bottom: 1.5rem;
	justify-content: space-between;
	
	.widget-title{
		font:18px $headline-title;
		margin-bottom: 18px;
		color:white;
		text-transform: uppercase;
	}

	&.widget-links {
		ul {
			li {
				margin-bottom: 1rem;

				a {
					font-family: $heading-font;
					font-size: 0.875rem;
					color: $white;
				}
			}
		}
	}

	&.widget-social {
		.widget-content {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25rem;
			
			i {
				color:white;
				padding:0 25px 0 0;
			}
		}
	}
}

.payment-icon {
	img {
		margin-top: 0.5rem;
		margin-right: 1.5rem;
	}
}