
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3.125rem; 

	.title {		
		display: block;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0;
		
		&:after {
			content: "";
			position: relative;
			left: 2rem;
			display: inline-block;
			width: 16rem;
			height: 2px;
			vertical-align: middle;
			background-color: #e5e5e5;
			
			@include media-breakpoint-down(lg) {
				width: 0;
			}
		}

		&.border-0 {
			&:after {
				width: 0;
			}
		}
	}

	a{
		display: inline;
		padding-left: 4rem;
		font-size: 1.125rem;
		font-weight: 500;
		font-family: $heading-font;
		text-decoration: underline;
	}
}

.brand {
	margin-top: 1rem;
	margin-bottom: 1rem;
}