
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	margin-bottom: 1.5rem;

	.icon-header {
		h4 {
			font-size: 2.1875rem;
		}
	}
}